// Variables globales
$color-primary: #81c784;
$color-secondary: #ffb74d;
$color-bg: #f5f5f5;
$border-radius: 10px;

// Estilos globales generales
/* #__nuxt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
 */